@import '../../styles/functions';

.text {
  margin-bottom: rem(25px);
  text-align: center;
  font-weight: 700;
  font-size: rem(18px);
  line-height: rem(21px);
}

.boundary {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}