@import '../../styles/functions';

.random {
  display: flex;
  flex-shrink: 0;
  margin-bottom: rem(50px);
}

.item {
  width: 50%;
  height: rem(250px);
  padding: rem(35px) rem(35px) rem(35px) rem(40px);

  box-shadow: rem(5px) rem(5px) rem(20px) rgba(0, 0, 0, 0.25);

  &:last-of-type {
    position: relative;
    overflow: hidden;

    background-color: var(--dark);
  }
}

.hero {
  display: flex;
  flex-wrap: nowrap;
}

.thumbnail {
  position: relative;

  flex-shrink: 0;
  width: rem(180px);
  height: rem(180px);
  margin-right: rem(30px);

  background-color: var(--gray);

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: rem(265px);
}

.name {
  margin-bottom: rem(10px);

  font-weight: 700;
  font-size: rem(22px);
  line-height: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  margin-bottom: rem(13px);
  flex: 1;

  font-size: rem(14px);
  line-height: rem(16px);

  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.func {
  display: flex;
}

.link {
  margin-right: rem(30px);

  &:last-of-type {
    margin-right: 0;
  }
}

.button {
  &:before, &:after {
    background-color: var(--dark) !important;
  }
}

.title, .subtitle {
  font-weight: 700;
  font-size: rem(24px);
  line-height: rem(28px);
  color: var(--white);
}

.title {
  width: rem(374px);
  flex: 1;
}

.subtitle {
  margin-bottom: rem(13px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bg {
  position: absolute;
  right: rem(-35px);
  bottom: rem(14px);

  width: rem(202.54px);
  height: rem(189px);

  & img {
    width: 100%;
    height: 100%;
  }
}