:root {
  --black: #000000;
  --red: #9F0013;
  --dark: #232222;
  --white: #FFFFFF;
  --gray: #5C5C5C;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

ul,
li,
dl {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;

  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
}

.button {
  position: relative;

  width: 101px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--red);
  cursor: pointer;
  border: none;

  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  text-transform: uppercase;
  transition: .3s;
  overflow: hidden;

  &:hover {
    background-color: var(--gray);
    color: var(--white);
  }

  &:before, &:after {
    position: absolute;
    content: '';

    display: block;
    width: 10px;
    height: 10px;

    background-color: var(--white);
    transform: rotate(45deg);
  }

  &:before {
    left: -5px;
    top: -5px;
  }

  &:after {
    bottom: -5px;
    right: -5px;
  }
}