@import '../../styles/functions';

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  width: 100%;

  & img {
    width: rem(160px);
    height: rem(160px);
  }
}