@import "../../styles/functions";

.wrapper {
  padding: rem(50px);
}

.text {
  margin-bottom: rem(40px);
}

.span {
  display: block;
}

.span, .link {
  text-align: center;
  line-height: rem(40px);
  font-size: rem(30px);
}

.link {
  font-weight: bold;
  color: var(--red);

  &:hover {
    color: var(--red);
  }
}