@import '../../styles/functions';

.text {
  margin-bottom: rem(30px);

  text-align: center;
  font-weight: 700;
  font-size: rem(18px);
  line-height: rem(21px);
}

.pic, .body {
  background-color: #C4C4C4;
  animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
  0% {
    opacity: 1
  }
  50% {
    opacity: .4
  }
  100% {
    opacity: 1
  }
}

.top {
  display: flex;
  margin-bottom: rem(10px);
}

.pic {
  width: rem(140px);
  height: rem(140px);
  margin-right: rem(15px);
  flex-shrink: 0;

  border-radius: rem(7px);
}

.wrap {
  width: 100%;
  height: rem(140px);
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  height: rem(20px);
  margin-bottom: rem(10px);
  border-radius: rem(5px);

  &:last-of-type {
    margin-bottom: 0;
  }
}