@import '../../styles/functions';

.wrapper {
  display: block;
}

.top {
  margin-bottom: rem(15px);
  display: flex;
}

.pic {
  flex-shrink: 0;
  width: rem(150px);
  height: rem(150px);
  margin-right: rem(25px);

  & img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top center;
  }
}

.wrap {
  height: auto;
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: auto;

  font-weight: 700;
  font-size: rem(22px);
  line-height: rem(26px);

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.func {
  display: block;
}

.button {
  margin-bottom: rem(10px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body {
  display: block;
}

.description {
  margin-bottom: rem(10px);

  font-size: rem(14px);
  line-height: rem(16px);
}

.subtitle {
  margin-bottom: rem(10px);

  font-weight: 700;
  font-size: rem(18px);
  line-height: rem(21px);
}

.list {
  display: block;
}

.item {
  display: block;

  & a {
    display: block;
    margin-bottom: rem(10px);
    padding: rem(4px) rem(10px) rem(3px);

    box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}