@import '../../styles/functions';

.banner {
  margin-bottom: rem(45px);
  width: rem(1100px);
  height: rem(100px);
  display: flex;
  justify-content: space-between;
  padding: 0 rem(25px) 0 rem(45px);

  background: var(--dark);
}

.text {
  font-weight: 700;
  font-size: rem(24px);
  line-height: rem(28px);
  color: var(--white);
}

.left {
  display: flex;
  align-items: center;

  & img {
    margin-right: rem(83px);
    width: rem(152px);
    height: rem(100px);
  }
}

.right {
  display: flex;
  align-items: center;

  & img {
    width: rem(133px);
    height: rem(100px);
  }
}